<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Todo</title>
</head>
<body>
<h1>Edit Todo</h1>
<form th:action="@{/todos/{id}(id=${todo.id})}" method="POST">
  <input type="hidden" name="_method" value="POST" />
  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" th:field="${todo.title}" th:required="true" th:maxlength="200" />
  </div>
  <div>
    <input type="submit" value="Save" />
  </div>
</form>
</body>
</html>
