<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Todo</title>
</head>
<body>
<h1>Create New Todo</h1>
<form action="#" th:action="@{/todos}" th:object="${newTodo}" method="post">
  <div>
    <label for="userID">User:</label>
    <select id="userID" name="userID" th:field="*{userID}">
      <option th:each="user : ${userlist}" th:value="${user.id}" th:text="${user.username}"></option>
    </select>
  </div>
  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" th:field="*{title}" th:required="true" th:maxlength="200" />
  </div>
  <div>
    <label for="completed">Completed:</label>
    <select id="completed" name="completed" th:field="*{completed}">
      <option value="true">Completed</option>
      <option value="false">Not Completed</option>
    </select>
  </div>
  <div>
    <button type="submit">Save</button>
  </div>
</form>
</body>
</html>
